streamlit
pandas
scikit-learn
spacy
spacy-lookups-data
SpeechRecognition
pydub
audiorecorder
requests

# spaCy small model that Streamlit Cloud can install
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
